<%- include('partials/header') %>

<h2>All Movie Reviews</h2>
<link rel="stylesheet" type="text/css" href="/main.css" />
<ul>
  <% availableReviews.forEach(function(review) { %>
    <li>
      <strong><%= review.title %></strong>  
      (Rated <%= review.rating %>/5 by <%= review.username %> on <%= review.created_at.toLocaleString() %>)<br>
      <p><%= review.review %></p>
    </li>
  <% }) %>
</ul>
